{% extends 'xasdb1/base.html' %}

{% block title %}
Delete your account
{% endblock %}

{% block content %}

     <div class="login">

         {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h1>Account deletion</h1>
	Deleting your account is final and cannot be undone.<br>
	When doing so, all data you have ever contributed will be deleted as well.<br>
	Please type the email address you registered with as well as your password and press Confirm to proceed.<br>
        <form method="post" >
             {% csrf_token %}
             <table>
                {{ form.as_table }}
             </table>
		<input type="submit" name="submit" value="Confirm"/>
         </form>
     </div>

{% endblock %}



