{% extends 'xasdb1/base.html' %}

{% block title %}
{{ element }}
{% endblock %}

{% block content %}
{% include 'xasdb1/mendeljev.html' %}

<div id='spectra'>
<hr>
{% if files|length == 0 %}
	No spectra found for {{element}}.
{% else %}
	{% if files|length == 1 %}
		1 spectrum for {{element}}
	{% else %}
		{{ files|length }} spectra for {{element}}
	{% endif %}
	<table cellspacing=5 cellpadding=2>
		<tr>
			<th>Name</th>
			<th>Edge</th>
		</tr>
		{% for file in files %}
		<tr>
			<td><a href="{% url 'xasdb1:file' file.id %}">{{ file.sample_name }}</a></td>
			<td>{{ file.edge }}</td>
		</tr>
		{% endfor %}
	</table>
{% endif %}
</div>
{% endblock %}

