{% extends 'xasdb1/base.html' %}

{% block title %}
{{ element }}
{% endblock %}

{% block content %}
{% include 'xasdb1/mendeljev.html' %}

<div id='spectra'>
<hr>
<p>
{% if files|length == 0 %}
<h2>No spectra found for {{element}}.</h2>
{% else %}
	<h2>
	{% if files|length == 1 %}
		1 spectrum found for {{element}}
	{% else %}
		{{ files|length }} spectra found for {{element}}
	{% endif %}
	</h2>
	<table cellspacing=5 cellpadding=2>
		<tr>
			<th>Name</th>
			<th>Edge</th>
			<th>Beamline</th>
		</tr>
		{% for file in files %}
		<tr>
			<td><a href="{% url 'xasdb1:file' file.id %}">{{ file.sample_name }}</a></td>
			<td>{{ file.get_edge_display }}</td>
			<td>{{ file.beamline_name}} @ {{file.facility_name}}</td>
		</tr>
		{% endfor %}
	</table>
{% endif %}
</p>
</div>
{% endblock %}

