{% extends 'xasdb1/base.html' %}

{% block title %}
{{ file.sample_name }}
{% endblock %}


{% block content %}
<p><div><h1>Spectrum: {{file.sample_name}}</h1></div>
<p>
         {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
<table><tr>
	{% for plot in plots %}
	<td>{{ plot.div | safe }}</td>
	{% endfor %}
	</tr>
</table>

<br/>

<table class="file-table-main">
{% if user.is_authenticated %}
{% if user == file.uploader and not user.is_staff and not user.is_superuser  %}
<tr>
	<td> Submission Status: </td>
	<td> {{ file.get_review_status_display }} </td>
</tr>
{% endif %}
<tr>
	<td> Original Data File: </td>
	<td> <a href="#" onClick="myConfirm('{% url 'xasdb1:download' file.upload_file.url %}', '{{ message | escapejs }}');">{{ file.name }}</a></td>
</tr>
{% endif %}
<tr>
	<td>Absorption Edge:</td>
	<td><a href="{% url 'xasdb1:element' file.element %}">{{ file.element }}</a> {{file.edge}} edge</td>
</tr>
<tr>
	<td>Sample Name:</td>
	<td>{{file.sample_name}}</td>
</tr>
<tr>
	<td>Sample Preparation:</td>
	<td>{{file.sample_prep}}</td>
</tr>
<tr>
	<td>Beamline:</td>
	<td>{{ file.beamline_name }} @ {{ file.facility_name }}</td>
</tr>
<tr>
	<td>Mono d-spacing:</td>
	<td>{{ file.mono_d_spacing }} &#8491; ({{ file.mono_name }})</td>
</tr>
<tr>
	<td>Date measured:</td>
	<td>{{ file.scan_start_time }}</td>
</tr>
<tr>
	<td>Date uploaded:</td>
	<td>{{ file.upload_timestamp }}, {{ file.uploader.first_name }} {{ file.uploader.last_name }} ({{ file.uploader.email }})</td>
</tr>
{% if doi %}
<tr>
	<td>Citation:</td>
	<td><a href="{{ doi.url }}">{{doi.citation | safe }} Times cited: {{doi.ncited}}</a></td>
</tr>
{% endif %}

</table>

{% if user.is_authenticated and aux %}
<br/>
<table class="file-table-aux">
<tr>
	<th>Auxiliary data</th>
	<th>Filename</th>
</tr>
{% for data in aux %}
<tr>
	<td>{{ data.aux_description }}</td>
	<td> <a href="#" onClick="myConfirm('{% url 'xasdb1:download' data.aux_file.url %}', '{{ message | escapejs }}');">{{ data.name }}</a></td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}


{% block scripts %}
{% for plot in plots %}
	{{ plot.script | safe }}
{% endfor %}
<link href="https://cdn.pydata.org/bokeh/release/bokeh-{{ bokeh_version}}.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-{{ bokeh_version }}.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-{{ bokeh_version }}.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-{{ bokeh_version }}.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
	function myConfirm(url, message) {
		bootbox.confirm({
    			//title: "Destroy planet?",
    			message: message,
    			buttons: {
        			cancel: {
            				label: 'Cancel',
					className: 'btn-danger'
        			},
       				confirm: {
            				label: 'I Agree',
					className: 'btn-success'
        			}
    			},
			callback: function(result) {
				if (result) {
					window.location = url;
				}
			}
		});
	}
</script>
{% endblock %}
