{% extends 'xasdb1/base.html' %}

{% block title %}
{{ file.sample_name }}
{% endblock %}


{% block content %}
<p><div>Spectrum: {{file.sample_name}}</div>
<p>
         {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
<table><tr>
	{% for plot in plots %}
		<td><img width=550 src="data:image/png;base64,{{ plot|safe }}"/></td>
	{% endfor %}
	</tr>
</table>
<br/>
{% endblock %}
