{% extends 'xasdb1/base.html' %}

{% block title %}
Hello world
{% endblock %}

{% block content %}
         {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
<p> <div class=subfont> Select Absorbing Element:</div>
</p>

<table id="ptable" cellpadding=0 cellspacing=0 border=0><tr>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'H' %}">H </a></th>
<th colspan=16></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'He' %}">He</a></th>
</tr><tr>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Li' %}">Li</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Be' %}">Be</a></th>
<th colspan=10></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'B' %}">B </a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'C' %}">C </a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'N' %}">N </a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'O' %}">O </a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'F' %}">F </a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ne' %}">Ne</a></th>
</tr><tr>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Na' %}">Na</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Mg' %}">Mg</a></th>
<th colspan=10></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Al' %}">Al</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Si' %}">Si</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'P' %}">P </a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'S' %}">S </a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Cl' %}">Cl</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ar' %}">Ar</a></th>
</tr><tr>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'K' %}">K </a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ca' %}">Ca</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Sc' %}">Sc</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ti' %}">Ti</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'V' %}">V </a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Cr' %}">Cr</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Mn' %}">Mn</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Fe' %}">Fe</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Co' %}">Co</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ni' %}">Ni</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Cu' %}">Cu</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Zn' %}">Zn</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ga' %}">Ga</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ge' %}">Ge</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'As' %}">As</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Se' %}">Se</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Br' %}">Br</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Kr' %}">Kr</a></th>
</tr><tr>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Rb' %}">Rb</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Sr' %}">Sr</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Y' %}">Y </a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Zr' %}">Zr</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Nb' %}">Nb</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Mo' %}">Mo</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Tc' %}">Tc</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ru' %}">Ru</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Rh' %}">Rh</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Pd' %}">Pd</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ag' %}">Ag</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Cd' %}">Cd</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'In' %}">In</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Sn' %}">Sn</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Sb' %}">Sb</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Te' %}">Te</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'I' %}">I </a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Xe' %}">Xe</a></th>
</tr><tr>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Cs' %}">Cs</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ba' %}">Ba</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'La' %}">La</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Hf' %}">Hf</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ta' %}">Ta</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'W' %}">W </a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Re' %}">Re</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Os' %}">Os</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ir' %}">Ir</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Pt' %}">Pt</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Au' %}">Au</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Hg' %}">Hg</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Tl' %}">Tl</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Pb' %}">Pb</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Bi' %}">Bi</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Po' %}">Po</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'At' %}">At</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Rn' %}">Rn</a></th>
</tr><tr>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Fr' %}">Fr</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ra' %}">Ra</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ac' %}">Ac</a></th>
</tr><tr>
<th colspan=3></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ce' %}">Ce</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Pr' %}">Pr</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Nd' %}">Nd</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Pm' %}">Pm</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Sm' %}">Sm</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Eu' %}">Eu</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Gd' %}">Gd</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Tb' %}">Tb</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Dy' %}">Dy</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Ho' %}">Ho</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Er' %}">Er</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Tm' %}">Tm</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Yb' %}">Yb</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Lu' %}">Lu</a></th>
</tr><tr>
<th colspan=3></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Th' %}">Th</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Pa' %}">Pa</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'U' %}">U </a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Np' %}">Np</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Pu' %}">Pu</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Am' %}">Am</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Cm' %}">Cm</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Bk' %}">Bk</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Cf' %}">Cf</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Es' %}">Es</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Fm' %}">Fm</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Md' %}">Md</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'No' %}">No</a></th>
<th id="elem" width=30><a href="{% url 'xasdb1:element' 'Lr' %}">Lr</a></th>
</tr><tr>
</table>
{% endblock %}

