<p><h2><div class=subfont> Select Absorbing Element:</div></h2>
</p>

<p>
<table id="mendeljevtable" cellpadding=0 cellspacing=0 border=0><tr>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'H' %}">H </a></td>
<td colspan=16></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'He' %}">He</a></td>
</tr><tr>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Li' %}">Li</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Be' %}">Be</a></td>
<td colspan=10></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'B' %}">B </a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'C' %}">C </a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'N' %}">N </a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'O' %}">O </a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'F' %}">F </a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ne' %}">Ne</a></td>
</tr><tr>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Na' %}">Na</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Mg' %}">Mg</a></td>
<td colspan=10></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Al' %}">Al</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Si' %}">Si</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'P' %}">P </a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'S' %}">S </a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Cl' %}">Cl</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ar' %}">Ar</a></td>
</tr><tr>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'K' %}">K </a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ca' %}">Ca</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Sc' %}">Sc</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ti' %}">Ti</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'V' %}">V </a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Cr' %}">Cr</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Mn' %}">Mn</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Fe' %}">Fe</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Co' %}">Co</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ni' %}">Ni</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Cu' %}">Cu</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Zn' %}">Zn</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ga' %}">Ga</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ge' %}">Ge</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'As' %}">As</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Se' %}">Se</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Br' %}">Br</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Kr' %}">Kr</a></td>
</tr><tr>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Rb' %}">Rb</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Sr' %}">Sr</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Y' %}">Y </a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Zr' %}">Zr</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Nb' %}">Nb</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Mo' %}">Mo</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Tc' %}">Tc</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ru' %}">Ru</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Rh' %}">Rh</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Pd' %}">Pd</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ag' %}">Ag</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Cd' %}">Cd</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'In' %}">In</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Sn' %}">Sn</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Sb' %}">Sb</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Te' %}">Te</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'I' %}">I </a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Xe' %}">Xe</a></td>
</tr><tr>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Cs' %}">Cs</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ba' %}">Ba</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'La' %}">La</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Hf' %}">Hf</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ta' %}">Ta</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'W' %}">W </a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Re' %}">Re</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Os' %}">Os</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ir' %}">Ir</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Pt' %}">Pt</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Au' %}">Au</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Hg' %}">Hg</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Tl' %}">Tl</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Pb' %}">Pb</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Bi' %}">Bi</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Po' %}">Po</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'At' %}">At</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Rn' %}">Rn</a></td>
</tr><tr>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Fr' %}">Fr</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ra' %}">Ra</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ac' %}">Ac</a></td>
</tr><tr>
<td colspan=3></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ce' %}">Ce</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Pr' %}">Pr</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Nd' %}">Nd</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Pm' %}">Pm</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Sm' %}">Sm</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Eu' %}">Eu</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Gd' %}">Gd</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Tb' %}">Tb</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Dy' %}">Dy</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Ho' %}">Ho</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Er' %}">Er</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Tm' %}">Tm</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Yb' %}">Yb</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Lu' %}">Lu</a></td>
</tr><tr>
<td colspan=3></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Th' %}">Th</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Pa' %}">Pa</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'U' %}">U </a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Np' %}">Np</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Pu' %}">Pu</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Am' %}">Am</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Cm' %}">Cm</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Bk' %}">Bk</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Cf' %}">Cf</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Es' %}">Es</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Fm' %}">Fm</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Md' %}">Md</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'No' %}">No</a></td>
<td class="mendeljev-cell"><a class="mendeljev-anchor" href="{% url 'xasdb1:element' 'Lr' %}">Lr</a></td>
</tr><tr>
</table>
</p>

