{% extends 'xasdb1/base.html' %}
{% load static %}

{% block title %}
Upload XDI files
{% endblock %}

{% block content %}
	{% if messages %}
	<ul>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
		</ul>
	{% endif %}
	<h1>Upload</h1>
	<form enctype="multipart/form-data" method="post" id="upload_form">
		{% csrf_token %}
		<table class="file-table-main">
		{{ form.as_table }} 
		</table>
		<br>
		<div id="citation_details" style="display:none">
		     Citation Title: <span id="citation_title"><span><br>
		     Citation 
		</div>
		<br>
		<div><h1> Auxiliary files (optional) </h1></div>
		<br>
		{{ upload_aux_formset.management_form }}
		<!-- <table class="file-table-main"> -->
			<!-- {{ upload_aux_formset.as_table }} -->
			{% for upload_aux_form in upload_aux_formset %}
			<div class="upload_aux_formset">
				{{ upload_aux_form.aux_description.label }}
				{{ upload_aux_form.aux_description }}
				{% if upload_aux_form.aux_description.errors %}
					<div class="upload_aux_formset_error">
					{% for error in upload_aux_form.aux_description.errors %}
						{{ error|escape }}
					{% endfor %}
					</div>
				{% endif %}

				{{ upload_aux_form.aux_file }}
				{% if upload_aux_form.aux_file.errors %}
					<div class="upload_aux_formset_error">
					{% for error in upload_aux_form.aux_file.errors %}
						{{ error|escape }}
					{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
		{% if upload_aux_formset.non_form_errors %}
			<div class="upload_aux_formset_error">
			{% for error in upload_aux_formset.non_form_errors %}
				{{ error|escape }}
			{% endfor %}
			</div>
		{% endif %}
		<br/>
		<!-- </table> -->
		<br>
		<input type="submit" name="submit" value="UPLOAD!">
		<br>
         </form>
		 <br>
	 <!-- Include formset plugin - including jQuery dependency -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'xasdb1/jquery.formset.js' %}"></script>
<script>
	$('.upload_aux_formset').formset({
		addText: 'Add Auxiliary File',
		deleteText: 'Remove'
	});
</script>
<!-- inspired by https://stackoverflow.com/a/38923735 -->
<script>
	$("#upload_form").submit(
		function() {
			if (window.File && window.FileReader && window.FileList && window.Blob) {
				var upload_file = $('#id_upload_file')[0].files[0];
				var aux_files = $('.aux_file_class');
				var files = [];

				if (upload_file) {
					files.push(upload_file);
				}
				if (aux_files && aux_files.length > 0) {
					for (i = 0 ; i < aux_files.length ; i++) {
						if (aux_files[i].files[0]) {
							files.push(aux_files[i].files[0]);
						}
					}
				}

				var rv = true;
				for (i = 0 ; i < files.length ; i++) {
					file = files[i];
					if (file && file.size > 10 * 1024 * 1024) {
						alert("File " + file.name + " is too big! Please select a file that is smaller than 10 MB");
						rv = false;
    					}
				}
				return rv;
  			}
		}
	);
</script>
{% endblock %}
