

#mendeljevtable {
	empty-cells:hide;
	border-collapse:separate;
}

.mendeljev-cell {
	width:50px;
	text-align:center;
	vertical-align:middle;
}

.mendeljev-anchor {
	display:block;
	text-decoration:none;
}

.mendeljev-anchor:hover {
	display:block;
	text-decoration:none;
}

#spectra hr {
	height: 2px;
	background-color: #444A95;
	color: #444A95;
}

.upload_aux_formset_error {
	color: red;
	display: inline;
}

.file-table-main, .file-table-aux {
	table-layout:fixed;
	width: 800px;
}

.file-table-aux th:first-child, .file-table-main td:first-child {
	width: 25% 
}

th {
	color: #E5E5E5;
}

.settingsbuttondiv {
  float: left;
  overflow: hidden;
}

.settingsbutton {
  border-right: 1px solid #FFFFFF;
  color: #CCCCCC;
  display: block;
  float: left;
  margin: 0;
  padding: 10px 10px 6px;
  text-decoration: none;
  font-size: 13px;
}

.settingsbuttondiv div:hover {
  background: none repeat scroll 0 0 #042044;
  color: #FFFFFF;
}

.settings-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.settings-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {
  display: block;
}

.settings-content li {
  border-right: 0px;
}

#topmenu button {
  border-right: 1px solid #FFFFFF;
  color: #CCCCCC;
  background-color: #072B5D;
  display: block;
  float: left;
  margin: 0;
  padding: 10px 10px 6px;
  text-decoration: none;
  font-size: 1.10em;
}

#topmenu button:hover {
  background: none repeat scroll 0 0 #042044;
  color: #FFFFFF;
}
